<%# app/views/items/_form.html.erb %>
<%= form_with(model: item) do |form| %>

  <% if item.errors.any? %>
    <div style="color: red">
      <h2>
        <%= item.errors.count %>件のエラーにより保存できませんでした
      </h2>
      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "商品名", style: "display: block" %>
    <%= form.text_field :name, placeholder: "例: 羅生門" %>
  </div>

  <div>
    <%= form.label :category, "カテゴリー", style: "display: block" %>
    <%= form.select :category,
  Item.category_options.map { |k, v| [v, k] },
  { selected: item.category }, placeholder: "カテゴリーを選択" %>
  </div>

  <div>
    <%= form.label :price, "値段", style: "display: block" %>
    <%= form.number_field :price, placeholder: "¥5000" %>
  </div>

  <!-- enum 用 select -->
  <div>
    <%= form.label :status, "ステータス", style: "display: block" %>
    <%= form.select :status,
        Item.statuses.keys.map { |s| [s, s] },
        { include_blank: "ステータスを選択" },
        { class: "form-control" } %>
  </div>

  <div>
    <%= form.label :description, "商品説明", style: "display: block" %>
    <%= form.text_area :description, placeholder: "商品の説明を入力してください" %>
  </div>

  <div class="field">
    <%= form.label :images, "画像" %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div>
    <%= form.label :memo, "メモ", style: "display: block" %>
    <%= form.text_area :memo, placeholder: "メモを入力してください" %>
  </div>

  <!-- user_id は隠しフィールド -->
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div>
    <%= form.submit "アイテムを追加" %>
  </div>

<% end %>