<%# app/views/items/index.html.erb %>

<h1>MY ITEMS</h1>

<%= form_with url: items_path, method: :get, local: true, class: "search-box" do |f| %>

  <%= f.text_field :keyword, placeholder: "商品名検索" %>

  <%= f.select :status, Item.statuses.keys, include_blank: "ステータス" %>

  <%= f.select :category,
        ["CD","服","家電","本","ゲーム","ガジェット"],
        include_blank: "カテゴリ" %>

  <%= f.submit "検索" %>

<% end %>

<div class="items-grid">

  <% @items.each do |item| %>

    <div class="item-card">

      <% if item.images.attached? %>
        <%= image_tag item.images.first, class: "item-image" %>
      <% end %>

      <h3><%= item.name %></h3>

      <p>¥<%= item.price %></p>

      <span class="status <%= item.status %>">
        <%= item.status %>
      </span>

      <div class="actions">
        <%= link_to "詳細", item %>
        <%= link_to "編集", edit_item_path(item) %>
      </div>

    </div>

  <% end %>

</div>

<br>

<%= link_to "アイテム追加", new_item_path, class: "new-button" %>